<h4>カテゴリ一覧</h4>
<div card mb-3>
    <ul class="list-group list-group-flush">
        {% for category in categories %}
            <li class ="list-group-item d-flex justify-content-between align-items-center">
            <a href="{% url 'MebukiTechapp:category_post' category.slug %}" class="text-muted">{{ category.name }}({{ category.num_posts }})</a>
            </li>
        {% endfor %}
    </ul>
<h4>タグ一覧</h4>
    <ul class="list-group list-group-flush">
        {% for tag in tags %}
            <li class ="list-group-item d-flex justify-content-between align-items-center">
            <a href="{% url 'MebukiTechapp:tag_post' tag.slug %}" class="text-muted">{{ tag.name }}({{ tag.num_posts }})</a>
            </li>
        {% endfor %}
    </ul>
</div>